.tutor {
    font-family: monospace;
    font-size: 1.1em;
    height: 264px;
    width: 396px;
    border: 1px solid lack;
    background: #3C5681;
    margin: 38px
  }
  
  .tutor__card {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 132px 33px 1fr 6fr;
  }

  .tutor__image {
    position: relative;
    left: 14px;
    top: 14px;
    height: 120px;
    width: 120px;
    
    img {
    width: 80%;
    height: 80%; 
    border: 1px solid black;
    }
  }
  
  .tutor__name{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 33px;
    padding-bottom: 33px;
    color: white;
  }
  
  .tutor__specialties{
    span {
      color: white;
    }
  }
  .tutor__calendly-link{
    grid-column: 1 / 3;
    grid-row: 2/3;
    padding-top: 14px;
    display:flex;
    justify-content:center;
    color: white 
  }
  
  